
@{
    ViewBag.Title = "Account Settings";
}

<h2>Account Settings</h2>

<ul>
    <li>@Html.ActionLink("Logins and Password", "Manage")</li>
    <li>@Html.ActionLink("Time Zone", "ChangeTimeZone")</li>
</ul>