@model string
@{
    ViewBag.Title = "Change Time Zone";
}

<h2>Change Time Zone</h2>

@using(Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m, new SelectList(TimeZoneInfo.GetSystemTimeZones(), "Id", "DisplayName", Model), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}